.wapper {
    margin: -16px 0 0 -60px;
    width: 320px;
    box-sizing: border-box;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    position: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
}

.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 400;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}

.status {
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    font-weight: 400;

}
